* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddffcd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav{
    background-color: #036e15;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    padding: 20px;
}

nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

nav ul li{
    display: flex;
    flex-direction: row;
}

header ul li a {
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
}

header ul li a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

nav img{
    width: 50px;
    height: 50px;
}

#volver {
    text-decoration: none;
    color: #000;
    background-color: #d8d8d8;
    padding: 12px;
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: center;
    border-bottom-right-radius: 10px;

}

#formularioDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    width: 60%;
    align-items: center;
    padding: 5%;
    margin: 10%;
    border-radius: 10px;
}

form {
    margin-top: 30px ;
}

form input, form textarea, form button{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    height: 50px;

    width: 100%;
    border: 1px solid #949494;
    border-radius: 10px;
    background-color: #ffffff;

}

form input:hover, form textarea:hover, form button:hover{

    height: 53px;
    width: 105%;

}


form button{
    padding-top: 15px;
    font-weight: bold;
    background-color: #4d7e37;
    color: #fff;
}

footer {
    margin-top: 80px;
    background-color: #036e15;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

footer h4 {
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
}

#contFoo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 150px;
    padding-top: 30px;
}

#imganes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100px;
}

#redes {
    padding-top: 40px;
}

#redes img{
    width: 40px;
    height: 35px;
}

#contacto p a{
    color: white;
    text-decoration: none;
    
}

#Pcontacto {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    padding-bottom: 10px;
}

